<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.admin.modules.admin.dao.SysResouceDao">
  	
  	<!-- 用户id查询资源权限 -->
	<select id="getPermissionList" resultType="com.pms.common.pojo.SysResouce">
	    select
		      DISTINCT 
					a.id,
					a.uid,
					a.pid,
					a.icon,
					a.res_name,
					a.res_type,
					a.res_path,
					a.level,
					a.sort,
					a.remark,
					a.tenant_id
		from sys_resouce a,sys_user_resouce b
		where a.id = b.res_id
				 and b.user_id in (
					select DISTINCT user_id  from sys_user_role where role_id in (
					select role_id from sys_user_role where user_id = #{userId}
				 )
		)
  	</select>
  
</mapper>

