<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.admin.modules.admin.dao.SysUserInfoDao">

    <!-- 批量插入气象站数据 -->
	<update id="updateSysUserInfoByUserId">
	    update sys_user_info set 
	    <if test="userId != null">
			 dingtalk_user_id=#{userId},
		</if>
	    <if test="deptIds != null">
			 dingtalk_dept_id=#{deptIds},
		</if>
		<if test="unionId != null">
			 dingtalk_union_id=#{unionId}
		</if>
	    where mobile = #{mobile}
  	</update>
  	
</mapper>

